#categories {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-blue);
  padding: 20px;
  

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    
    &.active {
        background-color: var(--white);
        color: var(--dark-blue);
        border-bottom: none;
    }

    &:hover {
      background-color: var(--medium-blue);
    }
  }
}

#content {
    padding: 40px;
}

a {
    color: var(--medium-blue);
}
